h1{
    text-align: center;
    color: rgb(200, 148, 80);

}

body{
    height: 100vh; 
display: flex;
justify-content: center; 
align-items: center; 
background-color: #4ba6ca46;}

.container{
    text-align: center;
    width: 300px; 
  
}