.user-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
  }
  
  .user-list,
  .post-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .user-list,
  .post-list {
    background-color: dodgerblue;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }
  
  .post-list {
    border-radius: 40px;
  }
  