header{
    text-align: center;
    color: cornflowerblue;
}

td {
    padding: 10px;
}

p {
    margin-top: 10px;
}


td img {
    display: block;
    border: 12px;
}


.Price {
   color: coral;
    
}